In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [2]:
load_dotenv()

True

In [3]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [5]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [49]:
today = pd.Timestamp("2010-01-01", tz="America/New_York").isoformat()

In [52]:
tickers = ["APHA", "OGI", "AMRS"]

In [53]:
timeframe = "1D"

In [88]:
df_portfolio = alpaca.get_barset(
    tickers,
    timeframe,
    start = today,
 
).df

df_portfolio.columns = ['AMRS open', 'AMRS high', 'AMRS low', 'AMRS close', 'AMRS volume', 'APHA open', 'APHA high', 'APHA low', 'APHA close', 'APHA volume', 'OGI open', 'OGI high', 'OGI low', 'OGI close', 'OGI volume']

close = df_portfolio[['AMRS close', 'APHA close', 'OGI close']]
close

                           AMRS close  APHA close  OGI close
2010-09-28 00:00:00-04:00    3712.500         NaN        NaN
2010-09-29 00:00:00-04:00    3791.250         NaN        NaN
2010-09-30 00:00:00-04:00    3881.250         NaN        NaN
2010-10-01 00:00:00-04:00     258.450         NaN        NaN
2010-10-04 00:00:00-04:00     255.900         NaN        NaN
...                               ...         ...        ...
2020-10-26 00:00:00-04:00       2.865      4.5800     1.2200
2020-10-27 00:00:00-04:00       2.815      4.6800     1.2100
2020-10-28 00:00:00-04:00       2.690      4.4369     1.1850
2020-10-29 00:00:00-04:00       2.650      4.4900     1.2200
2020-10-30 00:00:00-04:00       2.490      4.4950     1.1933

[2542 rows x 3 columns]