In [14]:
# Import the necessary libraries for reading csv files
import os
import csv
import pandas as pd 

# Set the path for the csv file
csvpath = os.path.join('rawdata/Jackie-CO-Discharges-Age.tsv')

# Open the csv
with open(csvpath, newline="", encoding='utf8', errors='ignore') as csvfile:
    csvreader = pd.read_csv(csvfile, delimiter="\t")

    # Iterate through the data and search for the number the user inputted. Remember to skip the header of the CSV.
    # csv_header = next(csvreader)
    df = pd.DataFrame(csvreader)
df

,Stratacat,Year,CHA type,Codes,Def Desc,def,Denom Type,Race/Eth FN,Rate Description,Rate Method Desc,Wide CI FN,Denom,Lcl,N,Rate,Ucl,Wban
0,<9 years,2011,Emergency Department,"3052*, 9696, E8541",All Codes,1,Discharges,,Crude,NaN,NaN,"219,673",3.2,13,5.9,10.1,7
1,<9 years,2011,Emergency Department,"3052*, 9696, E8541",All Codes,1,Discharges,,Crude,NaN,NaN,"219,673",3.2,13,5.9,10.1,7
2,<9 years,2012,Emergency Department,"3052*, 9696, E8541",All Codes,1,Discharges,,Crude,NaN,NaN,"228,912",3.7,15,6.6,10.8,7
3,<9 years,2012,Emergency Department,"3052*, 9696, E8541",All Codes,1,Discharges,,Crude,NaN,NaN,"228,912",3.7,15,6.6,10.8,7
4,<9 years,2013,Emergency Department,"3052*, 9696, E8541",All Codes,1,Discharges,,Crude,NaN,NaN,"241,067",3.8,16,6.6,10.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,66+ years,2017,Emergency Department,"T40.7*, F12*",All Codes,1,Discharges,,Crude,NaN,NaN,"270,247",222.0,649,240.2,259.3,37
158,66+ years,2018,Emergency Department,"T40.7*, F12*",All Codes,1,Discharges,,Crude,NaN,NaN,"278,825",262.9,787,282.3,302.7,40
159,66+ years,2018,Emergency Department,"T40.7*, F12*",All Codes,1,Discharges,,Crude,NaN,NaN,"278,825",262.9,787,282.3,302.7,40
160,66+ years,2019,Emergency Department,"T40.7*, F12*",All Codes,1,Discharges,,Crude,NaN,NaN,"285,521",164.1,512,179.3,195.5,31
161,66+ years,2019,Emergency Department,"T40.7*, F12*",All Codes,1,Discharges,,Crude,NaN,NaN,"285,521",164.1,512,179.3,195.5,31

In [16]:
df_clean = df[['Stratacat', 'Year', 'Codes']]
df_clean

     Stratacat  Year               Codes
0     <9 years  2011  3052*, 9696, E8541
1     <9 years  2011  3052*, 9696, E8541
2     <9 years  2012  3052*, 9696, E8541
3     <9 years  2012  3052*, 9696, E8541
4     <9 years  2013  3052*, 9696, E8541
..         ...   ...                 ...
157  66+ years  2017        T40.7*, F12*
158  66+ years  2018        T40.7*, F12*
159  66+ years  2018        T40.7*, F12*
160  66+ years  2019        T40.7*, F12*
161  66+ years  2019        T40.7*, F12*

[162 rows x 3 columns]

In [17]:
# Import the necessary libraries for reading csv files
import os
import csv
import pandas as pd 

# Set the path for the csv file
csvpath = os.path.join('rawdata/Jackie-CO-Discharges.tsv')

# Open the csv
with open(csvpath, newline="", encoding='utf8', errors='ignore') as csvfile:
    csvreader = pd.read_csv(csvfile, delimiter="\t")

    # Iterate through the data and search for the number the user inputted. Remember to skip the header of the CSV.
    # csv_header = next(csvreader)
    df2 = pd.DataFrame(csvreader)
df2

,sub,Year,CHA_type,Codes,Def Desc,def,Denom Type,Rate Description,Rate Method Desc,Denom,Lcl,N,Rate,Ucl,Wban,Avg. Year
0,Marijuana,2011,Emergency Department,3043*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,327,248",589.1,"7,993",602.2,615.5,26,2011
1,Marijuana,2011,Emergency Department,3043*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,327,248",589.1,"7,993",602.2,615.5,26,2011
2,Marijuana,2012,Emergency Department,3043*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,424,217",672.3,"9,767",685.8,699.5,27,2012
3,Marijuana,2012,Emergency Department,3043*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,424,217",672.3,"9,767",685.8,699.5,27,2012
4,Marijuana,2013,Emergency Department,3043*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,620,114",838.6,"13,815",852.7,867.0,28,2013
5,Marijuana,2013,Emergency Department,3043*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,620,114",838.6,"13,815",852.7,867.0,28,2013
6,Marijuana,2014,Emergency Department,3043*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,756,313",996.9,"17,767","1,011.6","1,026.5",30,2014
7,Marijuana,2014,Emergency Department,3043*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,756,313",996.9,"17,767","1,011.6","1,026.5",30,2014
8,Marijuana,2015,Emergency Department,3043*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,851,377",751.7,"14,148",764.2,776.8,25,2015
9,Marijuana,2015,Emergency Department,3043*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,851,377",751.7,"14,148",764.2,776.8,25,2015
10,Marijuana,2016,Emergency Department,F12*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,920,533","1,020.7","19,876","1,034.9","1,049.3",29,2016
11,Marijuana,2016,Emergency Department,F12*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,920,533","1,020.7","19,876","1,034.9","1,049.3",29,2016
12,Marijuana,2017,Emergency Department,F12*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,911,468","1,089.4","21,106","1,104.2","1,119.1",30,2017
13,Marijuana,2017,Emergency Department,F12*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,911,468","1,089.4","21,106","1,104.2","1,119.1",30,2017
14,Marijuana,2018,Emergency Department,F12*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,911,545","1,111.0","21,523","1,125.9","1,141.0",30,2018
15,Marijuana,2018,Emergency Department,F12*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,911,545","1,111.0","21,523","1,125.9","1,141.0",30,2018
16,Marijuana,2019,Emergency Department,F12*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,848,243",800.8,"15,039",813.7,826.7,26,2019
17,Marijuana,2019,Emergency Department,F12*,"Use, Abuse, or Dependence",3,Discharges,Crude,NaN,"1,848,243",800.8,"15,039",813.7,826.7,26,2019

In [18]:
df2_clean = df2[['sub', 'Year', 'Codes', 'Def Desc',]]
df2_clean

          sub  Year  Codes                   Def Desc
0   Marijuana  2011  3043*  Use, Abuse, or Dependence
1   Marijuana  2011  3043*  Use, Abuse, or Dependence
2   Marijuana  2012  3043*  Use, Abuse, or Dependence
3   Marijuana  2012  3043*  Use, Abuse, or Dependence
4   Marijuana  2013  3043*  Use, Abuse, or Dependence
5   Marijuana  2013  3043*  Use, Abuse, or Dependence
6   Marijuana  2014  3043*  Use, Abuse, or Dependence
7   Marijuana  2014  3043*  Use, Abuse, or Dependence
8   Marijuana  2015  3043*  Use, Abuse, or Dependence
9   Marijuana  2015  3043*  Use, Abuse, or Dependence
10  Marijuana  2016   F12*  Use, Abuse, or Dependence
11  Marijuana  2016   F12*  Use, Abuse, or Dependence
12  Marijuana  2017   F12*  Use, Abuse, or Dependence
13  Marijuana  2017   F12*  Use, Abuse, or Dependence
14  Marijuana  2018   F12*  Use, Abuse, or Dependence
15  Marijuana  2018   F12*  Use, Abuse, or Dependence
16  Marijuana  2019   F12*  Use, Abuse, or Dependence
17  Marijuana  2019   F12*  Use, Abuse, or Dependence

In [19]:
# Import the necessary libraries for reading csv files
import os
import csv
import pandas as pd 

# Set the path for the csv file
csvpath = os.path.join('rawdata/Jackie-CO-Geo-Hosp-Discharges-MJ-related.tsv')

# Open the csv
with open(csvpath, newline="", encoding='utf8', errors='ignore') as csvfile:
    csvreader = pd.read_csv(csvfile, delimiter="\t")

    # Iterate through the data and search for the number the user inputted. Remember to skip the header of the CSV.
    # csv_header = next(csvreader)
    df3 = pd.DataFrame(csvreader)
df3

,Codes,CHA type,Rate Method Desc,Rate Description,def,Def Desc,Denom Type,County Label,Countynm,REGION,County,Denom,Suppression LCL,Suppression Label,Suppression N,Suppression Rate,Suppression UCL,Year
0,F12*,Hospital,NaN,Crude,3,"Use, Abuse, or Dependence",Colorado Discharges,Adams County,Adams,14,Adams,"43,215",31.8,33.4,"1,445",33.4,35.2,2018
1,F12*,Hospital,NaN,Crude,3,"Use, Abuse, or Dependence",Colorado Discharges,Alamosa County,Alamosa,8,Alamosa,"1,408",16.2,23.4,33,23.4,32.8,2018
2,F12*,Hospital,NaN,Crude,3,"Use, Abuse, or Dependence",Colorado Discharges,Arapahoe County,Arapahoe,15,Arapahoe,"55,220",33.7,35.3,"1,947",35.3,36.8,2018
3,F12*,Hospital,NaN,Crude,3,"Use, Abuse, or Dependence",Colorado Discharges,Archuleta County,Archuleta,9,Archuleta,888,12.1,20.3,18,20.3,31.8,2018
4,F12*,Hospital,NaN,Crude,3,"Use, Abuse, or Dependence",Colorado Discharges,Baca County,Baca,6,Baca,812,4.3,9.9,8,9.9,19.3,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,F12*,Hospital,NaN,Crude,3,"Use, Abuse, or Dependence",Colorado Discharges,Summit County,Summit,12,Summit,"1,482",26.9,35.8,53,35.8,46.5,2018
60,F12*,Hospital,NaN,Crude,3,"Use, Abuse, or Dependence",Colorado Discharges,Teller County,Teller,17,Teller,"1,894",37.4,46.5,88,46.5,56.9,2018
61,F12*,Hospital,NaN,Crude,3,"Use, Abuse, or Dependence",Colorado Discharges,Washington County,Washington,1,Washington,453,7.7,17.7,8,17.7,34.5,2018
62,F12*,Hospital,NaN,Crude,3,"Use, Abuse, or Dependence",Colorado Discharges,Weld County,Weld,18,Weld,"26,351",30.9,33.0,869,33.0,35.2,2018
63,F12*,Hospital,NaN,Crude,3,"Use, Abuse, or Dependence",Colorado Discharges,Yuma County,Yuma,1,Yuma,"1,104",6.3,11.8,13,11.8,20.1,2018

In [20]:
df3_clean = df3[['County Label', 'Year', 'Codes', 'Def Desc',]]
df3_clean

         County Label  Year Codes                   Def Desc
0        Adams County  2018  F12*  Use, Abuse, or Dependence
1      Alamosa County  2018  F12*  Use, Abuse, or Dependence
2     Arapahoe County  2018  F12*  Use, Abuse, or Dependence
3    Archuleta County  2018  F12*  Use, Abuse, or Dependence
4         Baca County  2018  F12*  Use, Abuse, or Dependence
..                ...   ...   ...                        ...
59      Summit County  2018  F12*  Use, Abuse, or Dependence
60      Teller County  2018  F12*  Use, Abuse, or Dependence
61  Washington County  2018  F12*  Use, Abuse, or Dependence
62        Weld County  2018  F12*  Use, Abuse, or Dependence
63        Yuma County  2018  F12*  Use, Abuse, or Dependence

[64 rows x 4 columns]