In [9]:
# Imports
import pandas as pd 

#Dispensary Addresses in CO
dispensary_address = pd.read_csv("rawdata/James-Licensed-Marijuana-Businesses-Colorado.csv")
dispensary_address

,Licensee,DBA,License_No,Street_Address,City,ZIP,Category,Month,Year,Certification
0,1617 WAZEE STREET LLC,NaN,NaN,1617 Wazee St,Denver,80202.0,Medical Marijuana Centers,1,2013,NaN
1,3-D DENVER'S DISCREET DISPENSARY LLC,NaN,NaN,4305 Brighton Blvd,Brighton,80216.0,Medical Marijuana Centers,1,2013,NaN
2,"4625 E. COLFAX, LLC",NaN,NaN,4625 E. Colfax Ave,Denver,80216.0,Medical Marijuana Centers,1,2013,NaN
3,5280 WELLNESS LLC,NaN,NaN,1321 Elati Street,Denver,80204.0,Medical Marijuana Centers,1,2013,NaN
4,A CUT OFF THE TOP MEDICAL MARIJUANA,NaN,NaN,2059 W. 9th Ave,Denver,80204.0,Medical Marijuana Centers,1,2013,NaN
...,...,...,...,...,...,...,...,...,...,...
191504,"NORDIC ANALYTICAL LABORATORIES, LLC",NaN,405-00003,3960 Grape Street,Denver,80207.0,Medical Marijuana Testing Facilities,12,2019,Residual Solvents Contaminate Testing
191505,NORDIC ANALYTICAL LABORATORIES LLC,NaN,405-00019,417 East Northern Avenue,Pueblo,81006.0,Medical Marijuana Testing Facilities,12,2019,Residual Solvents Contaminate Testing
191506,PHYTATECH CO LLC,NaN,405-00008,879 North Federal Boulevard,Denver,80204.0,Medical Marijuana Testing Facilities,12,2019,Residual Solvents Contaminate Testing
191507,RM3 LABS COLORADO LLC,NaN,405-00010,"1700 55th Street, Units B & E",Boulder,80301.0,Medical Marijuana Testing Facilities,12,2019,Residual Solvents Contaminate Testing
191508,TEQ ANALYTICAL LABORATORIES INC,TEQ ANALYTICAL LABORATORIES,405-00014,"12635 East Montview Boulevard, Suite 175",Aurora,80045.0,Medical Marijuana Testing Facilities,12,2019,Residual Solvents Contaminate Testing

In [10]:
#Licensee,DBA,License_No,Street_Address,City,ZIP,Category,Month,Year,Certification
dispensary_address_clean = df[['Licensee', 'Street_Address', 'City', 'ZIP']]

In [11]:
dispensary_address_clean

,Licensee,Street_Address,City,ZIP
0,1617 WAZEE STREET LLC,1617 Wazee St,Denver,80202.0
1,3-D DENVER'S DISCREET DISPENSARY LLC,4305 Brighton Blvd,Brighton,80216.0
2,"4625 E. COLFAX, LLC",4625 E. Colfax Ave,Denver,80216.0
3,5280 WELLNESS LLC,1321 Elati Street,Denver,80204.0
4,A CUT OFF THE TOP MEDICAL MARIJUANA,2059 W. 9th Ave,Denver,80204.0
...,...,...,...,...
191504,"NORDIC ANALYTICAL LABORATORIES, LLC",3960 Grape Street,Denver,80207.0
191505,NORDIC ANALYTICAL LABORATORIES LLC,417 East Northern Avenue,Pueblo,81006.0
191506,PHYTATECH CO LLC,879 North Federal Boulevard,Denver,80204.0
191507,RM3 LABS COLORADO LLC,"1700 55th Street, Units B & E",Boulder,80301.0
191508,TEQ ANALYTICAL LABORATORIES INC,"12635 East Montview Boulevard, Suite 175",Aurora,80045.0

In [12]:
state_sales_tax_rev = pd.read_csv("rawdata/James-Marijuana-Sales-Revenue-Colorado.csv")
state_sales_tax_rev

,Month,Year,County,Med_Sales,Rec_Sales,Med_Blank_Code,Rec_Blank_Code,ID
0,12,2019,Yuma,NaN,NaN,NL,NL,122019Yuma
1,12,2019,Weld,314840.0,2448689.0,NaN,NaN,122019Weld
2,12,2019,Washington,NaN,NaN,NL,NL,122019Washington
3,12,2019,Teller,NaN,NaN,NL,NL,122019Teller
4,12,2019,Summit,NaN,2476854.0,NR,NaN,122019Summit
...,...,...,...,...,...,...,...,...
5004,8,2020,Chaffee,NaN,NaN,NR,NR,82020Chaffee
5005,8,2020,Pitkin,NaN,1644529.0,NR,NaN,82020Pitkin
5006,8,2020,Prowers,NaN,NaN,NL,NL,82020Prowers
5007,8,2020,Broomfield,NaN,NaN,NL,NL,82020Broomfield
5008,8,2020,Alamosa,NaN,NaN,NR,NL,82020Alamosa

In [22]:
#Month,Year,County,Med_Sales,Rec_Sales,Med_Blank_Code,Rec_Blank_Code,ID
#state_sales_tax_rev_clean = df[['Month', 'Year', 'County']]#, 'Med_Sales', 'Rec_Sales']]

KeyError: "['County'] not in index"

In [23]:
state_sales_tax_rev = pd.read_csv("rawdata/James-State-Sales-Tax-Revenue-from-Marijuana-Colorado.csv")
state_sales_tax_rev

,Month,Year,County,Med_Tax_Rev,Rec_Tax_Rev,Med_RemainderOfState_Counties,Rec_RemainderOfState_Counties,Med_Blank_Code,Rec_Blank_Code,ID
0,8,2019,Adams,17037.0,NaN,NaN,NaN,NaN,NaN,82019Adams
1,8,2019,Alamosa,NaN,NaN,NaN,NaN,NR,NaN,82019Alamosa
2,8,2019,Arapahoe,24256.0,NaN,NaN,NaN,NaN,NaN,82019Arapahoe
3,8,2019,Boulder,33557.0,NaN,NaN,NaN,NaN,NaN,82019Boulder
4,8,2019,Chaffee,NaN,NaN,NaN,NaN,NR,NaN,82019Chaffee
...,...,...,...,...,...,...,...,...,...,...
2690,9,2020,Las Animas,1051.0,NaN,NaN,NaN,NaN,NaN,92020Las Animas
2691,9,2020,Jefferson,49815.0,NaN,NaN,NaN,NaN,NaN,92020Jefferson
2692,9,2020,Custer,NaN,NaN,NaN,NaN,NaN,NaN,92020Custer
2693,9,2020,Chaffee,NaN,NaN,NaN,NaN,NR,NaN,92020Chaffee
2694,9,2020,Bent,NaN,NaN,NaN,NaN,NaN,NaN,92020Bent

In [25]:
state_sales_tax_rev_clean = df[['Month', 'Year', 'County', 'Med_Tax_Rev']]

KeyError: "['County', 'Med_Tax_Rev'] not in index"