In [18]:
# Imports
import os
import csv
import pandas as pd 
from pathlib import Path

# Set the path for the csv file
csvpath = os.path.join('rawdata/James-CO-FIPS.tsv')

# Open the csv
with open(csvpath, newline="", encoding='utf8', errors='ignore') as csvfile:
    csvreader = pd.read_csv(csvfile, delimiter="\t")

# Create FIPS dataframe - FIPS is used from US Census as the county code
fips = pd.DataFrame(csvreader)
fips

          Fips   County
0         08001   Adams
1       08003   Alamosa
2      08005   Arapahoe
3     08007   Archuleta
4          08009   Baca
5          08011   Bent
6       08013   Boulder
7       08015   Chaffee
8      08017   Cheyenne
9   08019   Clear Creek
10      08021   Conejos
11     08023   Costilla
12      08025   Crowley
13       08027   Custer
14        08029   Delta
15       08031   Denver
16      08033   Dolores
17      08035   Douglas
18        08037   Eagle
19       08039   Elbert
20      08041   El Paso
21      08043   Fremont
22     08045   Garfield
23       08047   Gilpin
24        08049   Grand
25     08051   Gunnison
26     08053   Hinsdale
27     08055   Huerfano
28      08057   Jackson
29    08059   Jefferson
..                  ...
33     08067   La Plata
34      08069   Larimer
35   08071   Las Animas
36      08073   Lincoln
37        08075   Logan
38         08077   Mesa
39      08079   Mineral
40       08081   Moffat
41    08083   Montezuma
42     08085   Montrose
43       08087   Morgan
44        08089   Otero
45        08091   Ouray
46         08093   Park
47     08095   Phillips
48       08097   Pitkin
49      08099   Prowers
50       08101   Pueblo
51   08103   Rio Blanco
52   08105   Rio Grande
53        08107   Routt
54     08109   Saguache
55     08111   San Juan
56   08113   San Miguel
57     08115   Sedgwick
58       08117   Summit
59       08119   Teller
60   08121   Washington
61         08123   Weld
62         08125   Yuma

[63 rows x 1 columns]

In [20]:
#Import file
sales_rev = pd.read_csv("rawdata/James-Marijuana-Sales-Revenue-Colorado.csv")
sales_rev = sales_rev.sort_values(by=['Year'])

#Changed NaN to 0 **State this in findings/presentation/dashboard
sales_rev['Med_Sales'] = sales_rev['Med_Sales'].fillna(0)
sales_rev['Rec_Sales'] = sales_rev['Rec_Sales'].fillna(0)
sales_rev_clean = sales_rev[['Year', 'County', 'Med_Sales', 'Rec_Sales']]

#sales_fips_merged = pd.merge(left=sales_rev_clean, right=fips, how='left', left_on='County', right_on='County')
# In this case `species_id` is the only column name in  both dataframes, so if we skipped `left_on`
# And `right_on` arguments we would still get the same result
#m#erged_left = pd.merge(left=survey_sub, right=species_sub, how='left', left_on='species_id', right_on='species_id')
#merged_left
# What's the size of the output data?
#sales_fips_merged.shape
#sales_fips_merged


#sales_rev_clean = sales_rev_clean.append(fips)
#In [13]: result = df1.append(df2)
#sales_rev_clean

In [5]:
#Group data by year, then county, and add up the med sales and rec sales -- could not get rec sales out of scientific notation
#sales_rev_clean.dtypes
sales_rev_clean.groupby(['Year', 'County']).sum()

                           Med_Sales     Rec_Sales
Year County
2014 Adams                 5781889.0  2.749908e+06
     Alamosa                     0.0  0.000000e+00
     Arapahoe             16861284.0  2.221928e+06
     Archuleta                   0.0  0.000000e+00
     Baca                        0.0  0.000000e+00
     Bent                        0.0  0.000000e+00
     Boulder              34337366.0  2.859816e+07
     Broomfield                  0.0  0.000000e+00
     Chaffee                438160.0  0.000000e+00
     Cheyenne                    0.0  0.000000e+00
     Clear Creek           1242045.0  4.853720e+06
     Conejos                     0.0  0.000000e+00
     Costilla                    0.0  0.000000e+00
     Crowley                     0.0  0.000000e+00
     Custer                      0.0  0.000000e+00
     Delta                       0.0  0.000000e+00
     Denver              174581324.0  1.513496e+08
     Dolores                     0.0  0.000000e+00
     Douglas                     0.0  0.000000e+00
     Eagle                 2259892.0  2.234618e+06
     El Paso              67026306.0  0.000000e+00
     Elbert                      0.0  0.000000e+00
     Fremont               2530928.0  0.000000e+00
     Garfield              4892957.0  3.851563e+06
     Gilpin                 371332.0  1.376578e+06
     Grand                       0.0  0.000000e+00
     Gunnison                36244.0  1.418437e+06
     Hinsdale                    0.0  0.000000e+00
     Huerfano                    0.0  0.000000e+00
     Jackson                     0.0  0.000000e+00
...                              ...           ...
2020 Larimer               6474163.0  7.103410e+07
     Las Animas             263546.0  4.619512e+07
     Lincoln                     0.0  0.000000e+00
     Logan                       0.0  0.000000e+00
     Mesa                        0.0  1.929342e+07
     Mineral                     0.0  0.000000e+00
     Moffat                      0.0  7.068563e+06
     Montezuma                   0.0  1.986398e+07
     Montrose                    0.0  0.000000e+00
     Morgan                      0.0  1.516220e+07
     Otero                       0.0  2.173614e+06
     Ouray                       0.0  6.617177e+06
     Park                        0.0  4.511739e+06
     Phillips                    0.0  0.000000e+00
     Pitkin                      0.0  9.740196e+06
     Prowers                     0.0  0.000000e+00
     Pueblo                8643753.0  7.133999e+07
     Rio Blanco                  0.0  0.000000e+00
     Rio Grande                  0.0  0.000000e+00
     Routt                  662154.0  8.851276e+06
     Saguache                    0.0  3.126444e+06
     San Juan                    0.0  2.142510e+05
     San Miguel                  0.0  3.748262e+06
     Sedgwick                    0.0  0.000000e+00
     Sum of NR Counties  294387679.0  1.130819e+09
     Summit                      0.0  1.818944e+07
     Teller                      0.0  0.000000e+00
     Washington                  0.0  0.000000e+00
     Weld                  2407512.0  2.184013e+07
     Yuma                        0.0  0.000000e+00

[450 rows x 2 columns]

In [6]:
sales_rev_clean.dtypes

Year           int64
County        object
Med_Sales    float64
Rec_Sales    float64
dtype: object

In [21]:
#Create clean file
sales_rev_clean.to_csv("cleandata/CO_Cannabis_Sales_Revenue.csv", index=False)

In [23]:
#Import file
tax_rev = pd.read_csv("rawdata/James-State-Sales-Tax-Revenue-from-Marijuana-Colorado.csv")
tax_rev = tax_rev.sort_values(by=['Year'])

#Changed NaN to 0 **State this in findings/presentation/dashboard
tax_rev['Med_Tax_Rev'] = tax_rev['Med_Tax_Rev'].fillna(0)
tax_rev['Rec_Tax_Rev'] = tax_rev['Rec_Tax_Rev'].fillna(0)

tax_rev_clean = tax_rev[['Year', 'County', 'Med_Tax_Rev', 'Rec_Tax_Rev']]
tax_rev_clean = tax_rev_clean.groupby(['Year','County']).sum()

tax_rev_clean

                         Med_Tax_Rev  Rec_Tax_Rev
Year County
2014 Adams                  150247.0      38490.0
     Arapahoe               333697.0      23467.0
     Boulder                895194.0     622487.0
     Chaffee                 15178.0          0.0
     Clear Creek             33243.0     116133.0
     Denver                4746441.0    3525489.0
     Eagle                   62120.0      32566.0
     El Paso               1743466.0          0.0
     Fremont                 68284.0          0.0
     Garfield               138898.0      77124.0
     Gilpin                  10186.0      37084.0
     Gunnison                 3655.0      22372.0
     Jefferson              582515.0     388588.0
     La Plata               178213.0      18997.0
     Larimer                347192.0     160891.0
     Montezuma               29099.0          0.0
     Pitkin                  46770.0      58342.0
     Pueblo                 122830.0     373412.0
     Remainder of State     211599.0     839332.0
     Routt                   45293.0          0.0
     San Miguel              21932.0      98608.0
     Summit                  67317.0     261887.0
     Weld                   144272.0     184845.0
2015 Adams                  148254.0     461943.0
     Arapahoe               629605.0    1276430.0
     Boulder                857746.0    1441729.0
     Chaffee                     0.0      74682.0
     Clear Creek             29310.0     158936.0
     Denver                4938367.0    5937202.0
     Eagle                  104788.0     226720.0
...                              ...          ...
2020 Larimer                203122.0          0.0
     Las Animas               8362.0          0.0
     Lincoln                     0.0          0.0
     Logan                       0.0          0.0
     Mesa                        0.0          0.0
     Mineral                     0.0          0.0
     Moffat                      0.0          0.0
     Montezuma                   0.0          0.0
     Montrose                    0.0          0.0
     Morgan                      0.0          0.0
     Otero                       0.0          0.0
     Ouray                       0.0          0.0
     Park                        0.0          0.0
     Phillips                    0.0          0.0
     Pitkin                   2048.0          0.0
     Prowers                     0.0          0.0
     Pueblo                 255330.0          0.0
     Rio Blanco                  0.0          0.0
     Rio Grande                  0.0          0.0
     Routt                   32993.0          0.0
     Saguache                    0.0          0.0
     San Juan                    0.0          0.0
     San Miguel                  0.0          0.0
     Sedgwick                    0.0          0.0
     Sum of NR Counties     303844.0          0.0
     Summit                      0.0          0.0
     Teller                      0.0          0.0
     Washington                  0.0          0.0
     Weld                    81547.0          0.0
     Yuma                        0.0          0.0

[296 rows x 2 columns]

In [28]:
tax_rev_clean = tax_rev_clean.groupby(['Year', 'County']).sum()
tax_rev_clean

                         Med_Tax_Rev  Rec_Tax_Rev
Year County
2014 Adams                  150247.0      38490.0
     Arapahoe               333697.0      23467.0
     Boulder                895194.0     622487.0
     Chaffee                 15178.0          0.0
     Clear Creek             33243.0     116133.0
     Denver                4746441.0    3525489.0
     Eagle                   62120.0      32566.0
     El Paso               1743466.0          0.0
     Fremont                 68284.0          0.0
     Garfield               138898.0      77124.0
     Gilpin                  10186.0      37084.0
     Gunnison                 3655.0      22372.0
     Jefferson              582515.0     388588.0
     La Plata               178213.0      18997.0
     Larimer                347192.0     160891.0
     Montezuma               29099.0          0.0
     Pitkin                  46770.0      58342.0
     Pueblo                 122830.0     373412.0
     Remainder of State     211599.0     839332.0
     Routt                   45293.0          0.0
     San Miguel              21932.0      98608.0
     Summit                  67317.0     261887.0
     Weld                   144272.0     184845.0
2015 Adams                  148254.0     461943.0
     Arapahoe               629605.0    1276430.0
     Boulder                857746.0    1441729.0
     Chaffee                     0.0      74682.0
     Clear Creek             29310.0     158936.0
     Denver                4938367.0    5937202.0
     Eagle                  104788.0     226720.0
...                              ...          ...
2020 Larimer                203122.0          0.0
     Las Animas               8362.0          0.0
     Lincoln                     0.0          0.0
     Logan                       0.0          0.0
     Mesa                        0.0          0.0
     Mineral                     0.0          0.0
     Moffat                      0.0          0.0
     Montezuma                   0.0          0.0
     Montrose                    0.0          0.0
     Morgan                      0.0          0.0
     Otero                       0.0          0.0
     Ouray                       0.0          0.0
     Park                        0.0          0.0
     Phillips                    0.0          0.0
     Pitkin                   2048.0          0.0
     Prowers                     0.0          0.0
     Pueblo                 255330.0          0.0
     Rio Blanco                  0.0          0.0
     Rio Grande                  0.0          0.0
     Routt                   32993.0          0.0
     Saguache                    0.0          0.0
     San Juan                    0.0          0.0
     San Miguel                  0.0          0.0
     Sedgwick                    0.0          0.0
     Sum of NR Counties     303844.0          0.0
     Summit                      0.0          0.0
     Teller                      0.0          0.0
     Washington                  0.0          0.0
     Weld                    81547.0          0.0
     Yuma                        0.0          0.0

[296 rows x 2 columns]

In [29]:
#Create clean file
tax_rev_clean.to_csv("cleandata/CO_Cannabis_Tax_Revenue.csv", index=False)