In [50]:
# Imports
import pandas as pd 
import geocoder

#Dispensary Addresses in CO
#dispensary_address = pd.read_csv("rawdata/James-Licensed-Marijuana-Businesses-Colorado.csv")

dispensary_address = pd.read_csv("rawdata/James-Licensed-Marijuana-Businesses-Colorado.csv")

dispensary_address.head()
#Licensee,DBA,License_No,Street_Address,City,ZIP,Category,Month,Year,Certification

#dispensary_address_clean = dispensary_address[['ZIP'[0:5]]]
#dispensary_address_clean = dispensary_address[['Licensee', 'Street_Address', 'City', 'ZIP']]
#dispensary_address_clean['ZIP']= dispensary_address_clean['ZIP'].astype('int')
#dispensary_address_clean.head()
#dispensary_address_clean.value_counts()
#dispensary_address_clean.ZIP.unique()
#dispensary_address_clean.isnull().sum(axis=0) #//gives me the number of is null for zip
dispensary_address_clean

### find the zip codes and insert to complete data set


##//
#df_zip_proper = pandas.io.parsers.read_csv('zip/sample.csv', dtype={'zip': pandas.Categorical})
#df_zip_proper

###need to cut out the ".0" at the end of the ZIP
###need to use MapQuest api
###set to remove .0 -- figure out - //set something like .0 gets blanked
#dispensary_address_clean.dtypes

,Licensee,Street_Address,City,ZIP
0,1617 WAZEE STREET LLC,1617 Wazee St,Denver,80202.0
1,3-D DENVER'S DISCREET DISPENSARY LLC,4305 Brighton Blvd,Brighton,80216.0
2,"4625 E. COLFAX, LLC",4625 E. Colfax Ave,Denver,80216.0
3,5280 WELLNESS LLC,1321 Elati Street,Denver,80204.0
4,A CUT OFF THE TOP MEDICAL MARIJUANA,2059 W. 9th Ave,Denver,80204.0
5,ACADEMY OF THE HEALING ARTS LLC,116 S. Alder,Crestone,81131.0
6,ACME HEALING CENTER OF RIDGEWAY,157 Hwy. 550,Ridgeway,81432.0
7,ACME SMOKE LLC,1202 E Fillmore St,Colorado Springs,80907.0
8,ADVANCE CURE FOR VERA BESTURA LLC,"2755 Ore Mill Road, Unit #13 & 14",Colorado Springs,80904.0
9,AJC INDUSTRIES LLC,5913 N. Nevada Ave,Colorado Springs,80918.0
10,ALIVE HERBAL MEDICINE,4573 Pecos St,Denver,80211.0
11,ALMA CANNABIS THERAPEUTICS LLC,447 N. Main St.,Alma,80420.0
12,ALPENGLOW BOTANICALS LLC,1805 Airport Rd.,Breckenridge,80424.0
13,ALPINE HERBAL WELLNESS LLC,445 Federal Blvd,Denver,80206.0
14,ALPINE WELLNESS LLC,300 W. Colorado Ave.,Telluride,81435.0
15,ALTERMEDS LLC,1156 W DILLON Rd.,Louisville,80027.0
16,ALTERNATIVE MEDICAL REMEDIES,1450 L Street,Penrose,81240.0
17,ALTERNATIVE MEDICINE ON CAPITOL HILL,1301 Marion Street,Denver,80218.0
18,ALTERNATIVE MEDICINE ON THE MALL LLC,"910 - 16th St, Ste 805",Denver,80202.0
19,ALTITUDE WELLNESS CENTER LLC,3435 S YOSEMITE,Denver,80231.0
20,AMERICAN INDUSTRY LLC,4571 No. Ivy St.,Denver,80216.0
21,"AMERICAN WELLNESS CENTER, LLC",3632 W. Colorado Ave,Colorado Springs,80904.0
22,AMERICAN WHOLESALE LLC,850 Commercial Lane,Palmer Lake,80133.0
23,ANIMAS HERBAL WELLNESS CENTER INC,1111 Camino Del Rio,Durango,81301.0
24,APOTHECARY OF COLORADO LLC,4895 E. 41st Ave.,Denver,80216.0
25,ARTISTANT DISPENSARY CENTER INC,1414 S Tejon St,Colorado Springs,80905.0
26,AT HOME REMEDIES INC,4735 W. 38th Avenue,Denver,80212.0
27,BALLPARK HOLISTIC DISPENSARY,"2119 Larimer St., #1",Denver,80205.0
28,BEACON WELLNESS GROUP,1740 E Main St.,Cortez,81321.0
29,BERKELEY MMC LLC,4103 Sheridan Blvd.,Mountain View,80212.0
...,...,...,...,...
191479,AGRICOR LABORATORIES LLC,1001 South Galapago Street,Denver,80223.0
191480,AGRISCIENCE LABS INC,2120 South Birch Street,Denver,80222.0
191481,AURUM LABORATORIES LLC,"789 Tech Center Drive, Unit C",Durango,81301.0
191482,BONA FIDES MEDICAL,"4910 North Fox Street, Unit E",Denver,80216.0
191483,GOBI ANALYTICAL INC,3924 Youngfield Street,Wheat Ridge,80033.0
191484,NORDIC ANALYTICAL LABORATORIES LLC,3960 Grape Street,Denver,80207.0
191485,PHYTATECH CO LLC,879 North Federal Boulevard,Denver,80204.0
191486,RM3 LABS COLORADO LLC,"1700 55th Street, Units B & E",Boulder,80301.0
191487,TERRA HEALTH CARE LABS INC,701 Main Street Unit D,Silt,81652.0
191488,AGRICOR LABORATORIES LLC,1001 South Galapago Street,Denver,80223.0
191489,AGRISCIENCE LABS INC,2120 South Birch Street,Denver,80222.0
191490,AURUM LABORATORIES LLC,"789 Tech Center Drive, Unit C",Durango,81301.0
191491,BONA FIDES MEDICAL,"4910 Fox Street, Unit E",Denver,80216.0
191492,GOBI ANALYTICAL,3924 Youngfield Street,Wheat Ridge,80033.0
191493,GREEN LAB SOLUTIONS COMPANY LLC,"146 Sawyer Drive, Unit D",Durango,81303.0
191494,"NORDIC ANALYTICAL LABORATORIES, LLC",3960 Grape Street,Denver,80207.0
191495,PHYTATECH CO LLC,879 North Federal Boulevard,Denver,80204.0
191496,RM3 LABS COLORADO LLC,"1700 55th Street, Units B & E",Boulder,80301.0
191497,TEQ ANALYTICAL LABORATORIES INC,"12635 East Montview Boulevard, Suite 175",Aurora,80045.0
191498,TERRA HEALTH CARE LABS INC,701 Main Street Unit D,Silt,81652.0
191499,AGRICOR LABORATORIES LLC,1001 South Galapago Street,Denver,80223.0
191500,AGRISCIENCE LABS INC,2120 South Birch Street,Denver,80222.0
191501,AURUM LABORATORIES LLC,"789 Tech Center Drive, Unit C",Durango,81301.0
191502,BONA FIDES MEDICAL,"4910 Fox Street, Unit E",Denver,80216.0
191503,GOBI ANALYTICAL,3924 Youngfield Street,Wheat Ridge,80033.0
191504,"NORDIC ANALYTICAL LABORATORIES, LLC",3960 Grape Street,Denver,80207.0
191505,NORDIC ANALYTICAL LABORATORIES LLC,417 East Northern Avenue,Pueblo,81006.0
191506,PHYTATECH CO LLC,879 North Federal Boulevard,Denver,80204.0
191507,RM3 LABS COLORADO LLC,"1700 55th Street, Units B & E",Boulder,80301.0
191508,TEQ ANALYTICAL LABORATORIES INC,"12635 East Montview Boulevard, Suite 175",Aurora,80045.0

In [22]:

df = pd.read_csv("rawdata/James-Marijuana-Sales-Revenue-Colorado.csv")
df.head()

,Month,Year,County,Med_Sales,Rec_Sales,Med_Blank_Code,Rec_Blank_Code,ID
0,12,2019,Yuma,NaN,NaN,NL,NL,122019Yuma
1,12,2019,Weld,314840.0,2448689.0,NaN,NaN,122019Weld
2,12,2019,Washington,NaN,NaN,NL,NL,122019Washington
3,12,2019,Teller,NaN,NaN,NL,NL,122019Teller
4,12,2019,Summit,NaN,2476854.0,NR,NaN,122019Summit

Licensee           object
Street_Address     object
City               object
ZIP               float64
dtype: object

,Month,Year,County,Med_Sales,Rec_Sales,Med_Blank_Code,Rec_Blank_Code,ID
0,12,2019,Yuma,NaN,NaN,NL,NL,122019Yuma
1,12,2019,Weld,314840.0,2448689.0,NaN,NaN,122019Weld
2,12,2019,Washington,NaN,NaN,NL,NL,122019Washington
3,12,2019,Teller,NaN,NaN,NL,NL,122019Teller
4,12,2019,Summit,NaN,2476854.0,NR,NaN,122019Summit
5,12,2019,Sum of NR Counties,27314662.0,116437714.0,NaN,NaN,122019Sum of NR Counties
6,12,2019,Sedgwick,NaN,NaN,NR,NR,122019Sedgwick
7,12,2019,San Miguel,NaN,444533.0,NR,NaN,122019San Miguel
8,12,2019,San Juan,NaN,13232.0,NL,NaN,122019San Juan
9,12,2019,Saguache,NaN,246391.0,NL,NaN,122019Saguache
10,12,2019,Routt,153737.0,1112789.0,NaN,NaN,122019Routt
11,12,2019,Rio Grande,NaN,NaN,NL,NL,122019Rio Grande
12,12,2019,Rio Blanco,NaN,NaN,NL,NL,122019Rio Blanco
13,12,2019,Pueblo,754498.0,6312066.0,NaN,NaN,122019Pueblo
14,12,2019,Prowers,NaN,NaN,NL,NL,122019Prowers
15,12,2019,Pitkin,NaN,1305423.0,NR,NaN,122019Pitkin
16,12,2019,Phillips,NaN,NaN,NL,NL,122019Phillips
17,12,2019,Park,NaN,405939.0,NR,NaN,122019Park
18,12,2019,Ouray,NaN,730178.0,NL,NaN,122019Ouray
19,12,2019,Otero,NaN,NaN,NR,NR,122019Otero
20,12,2019,Morgan,NaN,1452645.0,NR,NaN,122019Morgan
21,12,2019,Montrose,NaN,NaN,NR,NR,122019Montrose
22,12,2019,Montezuma,NaN,1793908.0,NR,NaN,122019Montezuma
23,12,2019,Moffat,NaN,853209.0,NR,NaN,122019Moffat
24,12,2019,Mineral,NaN,NaN,NL,NL,122019Mineral
25,12,2019,Mesa,NaN,1896560.0,NR,NaN,122019Mesa
26,12,2019,Logan,NaN,NaN,NL,NL,122019Logan
27,12,2019,Lincoln,NaN,NaN,NL,NL,122019Lincoln
28,12,2019,Las Animas,27183.0,4024747.0,NaN,NaN,122019Las Animas
29,12,2019,Larimer,805873.0,8164102.0,NaN,NaN,122019Larimer
...,...,...,...,...,...,...,...,...
4979,8,2020,Clear Creek,NaN,936015.0,NL,NaN,82020Clear Creek
4980,8,2020,Ouray,NaN,1179244.0,NL,NaN,82020Ouray
4981,8,2020,Yuma,NaN,NaN,NL,NL,82020Yuma
4982,8,2020,El Paso,13634778.0,NaN,NaN,NR,82020El Paso
4983,8,2020,Jackson,NaN,NaN,NL,NL,82020Jackson
4984,8,2020,Pueblo,796964.0,11593542.0,NaN,NaN,82020Pueblo
4985,8,2020,Morgan,NaN,2129366.0,NR,NaN,82020Morgan
4986,8,2020,San Juan,NaN,NaN,NL,NR,82020San Juan
4987,8,2020,Fremont,NaN,NaN,NR,NL,82020Fremont
4988,8,2020,Moffat,NaN,1566169.0,NR,NaN,82020Moffat
4989,8,2020,San Miguel,NaN,652208.0,NR,NaN,82020San Miguel
4990,8,2020,Logan,NaN,NaN,NL,NL,82020Logan
4991,8,2020,Kit Carson,NaN,NaN,NL,NL,82020Kit Carson
4992,8,2020,Washington,NaN,NaN,NL,NL,82020Washington
4993,8,2020,Eagle,134938.0,2077635.0,NaN,NaN,82020Eagle
4994,8,2020,Las Animas,37764.0,8014108.0,NaN,NaN,82020Las Animas
4995,8,2020,Elbert,NaN,NaN,NL,NL,82020Elbert
4996,8,2020,Summit,NaN,2915208.0,NR,NaN,82020Summit
4997,8,2020,Rio Blanco,NaN,NaN,NL,NL,82020Rio Blanco
4998,8,2020,Sedgwick,NaN,NaN,NL,NR,82020Sedgwick
4999,8,2020,Montrose,NaN,NaN,NR,NR,82020Montrose
5000,8,2020,Douglas,NaN,NaN,NL,NL,82020Douglas
5001,8,2020,Kiowa,NaN,NaN,NL,NL,82020Kiowa
5002,8,2020,Bent,NaN,NaN,NL,NR,82020Bent
5003,8,2020,Gunnison,NaN,1172858.0,NL,NaN,82020Gunnison
5004,8,2020,Chaffee,NaN,NaN,NR,NR,82020Chaffee
5005,8,2020,Pitkin,NaN,1644529.0,NR,NaN,82020Pitkin
5006,8,2020,Prowers,NaN,NaN,NL,NL,82020Prowers
5007,8,2020,Broomfield,NaN,NaN,NL,NL,82020Broomfield
5008,8,2020,Alamosa,NaN,NaN,NR,NL,82020Alamosa

In [13]:
#Month,Year,County,Med_Sales,Rec_Sales,Med_Blank_Code,Rec_Blank_Code,ID
state_sales_tax_rev_clean = df[['Month', 'Year', 'County']]
#, 'Med_Sales', 'Rec_Sales']]
state_sales_tax_rev_clean

      Month  Year              County
0        12  2019                Yuma
1        12  2019                Weld
2        12  2019          Washington
3        12  2019              Teller
4        12  2019              Summit
5        12  2019  Sum of NR Counties
6        12  2019            Sedgwick
7        12  2019          San Miguel
8        12  2019            San Juan
9        12  2019            Saguache
10       12  2019               Routt
11       12  2019          Rio Grande
12       12  2019          Rio Blanco
13       12  2019              Pueblo
14       12  2019             Prowers
15       12  2019              Pitkin
16       12  2019            Phillips
17       12  2019                Park
18       12  2019               Ouray
19       12  2019               Otero
20       12  2019              Morgan
21       12  2019            Montrose
22       12  2019           Montezuma
23       12  2019              Moffat
24       12  2019             Mineral
25       12  2019                Mesa
26       12  2019               Logan
27       12  2019             Lincoln
28       12  2019          Las Animas
29       12  2019             Larimer
...     ...   ...                 ...
4979      8  2020         Clear Creek
4980      8  2020               Ouray
4981      8  2020                Yuma
4982      8  2020             El Paso
4983      8  2020             Jackson
4984      8  2020              Pueblo
4985      8  2020              Morgan
4986      8  2020            San Juan
4987      8  2020             Fremont
4988      8  2020              Moffat
4989      8  2020          San Miguel
4990      8  2020               Logan
4991      8  2020          Kit Carson
4992      8  2020          Washington
4993      8  2020               Eagle
4994      8  2020          Las Animas
4995      8  2020              Elbert
4996      8  2020              Summit
4997      8  2020          Rio Blanco
4998      8  2020            Sedgwick
4999      8  2020            Montrose
5000      8  2020             Douglas
5001      8  2020               Kiowa
5002      8  2020                Bent
5003      8  2020            Gunnison
5004      8  2020             Chaffee
5005      8  2020              Pitkin
5006      8  2020             Prowers
5007      8  2020          Broomfield
5008      8  2020             Alamosa

[5009 rows x 3 columns]

In [23]:
#state_sales_tax_rev = pd.read_csv("rawdata/James-State-Sales-Tax-Revenue-from-Marijuana-Colorado.csv")
#state_sales_tax_rev

,Month,Year,County,Med_Tax_Rev,Rec_Tax_Rev,Med_RemainderOfState_Counties,Rec_RemainderOfState_Counties,Med_Blank_Code,Rec_Blank_Code,ID
0,8,2019,Adams,17037.0,NaN,NaN,NaN,NaN,NaN,82019Adams
1,8,2019,Alamosa,NaN,NaN,NaN,NaN,NR,NaN,82019Alamosa
2,8,2019,Arapahoe,24256.0,NaN,NaN,NaN,NaN,NaN,82019Arapahoe
3,8,2019,Boulder,33557.0,NaN,NaN,NaN,NaN,NaN,82019Boulder
4,8,2019,Chaffee,NaN,NaN,NaN,NaN,NR,NaN,82019Chaffee
...,...,...,...,...,...,...,...,...,...,...
2690,9,2020,Las Animas,1051.0,NaN,NaN,NaN,NaN,NaN,92020Las Animas
2691,9,2020,Jefferson,49815.0,NaN,NaN,NaN,NaN,NaN,92020Jefferson
2692,9,2020,Custer,NaN,NaN,NaN,NaN,NaN,NaN,92020Custer
2693,9,2020,Chaffee,NaN,NaN,NaN,NaN,NR,NaN,92020Chaffee
2694,9,2020,Bent,NaN,NaN,NaN,NaN,NaN,NaN,92020Bent

In [1]:
state_sales_tax_rev_clean = df[['Month', 'Year', 'County', 'Med_Tax_Rev']]

NameError: name 'df' is not defined