In [200]:
# Imports
import pandas as pd 
from pathlib import Path
import numpy as np
import decimal
import geocoder

#https://data.colorado.gov/Revenue/State-Sales-Tax-Revenue-from-Marijuana-in-Colorado/3sm5-jtur

#Dispensary Addresses in CO
#dispensary_address = pd.read_csv("rawdata/James-Licensed-Marijuana-Businesses-Colorado.csv")

#dispensary_address = pd.read_csv("rawdata/James-Licensed-Marijuana-Businesses-Colorado.csv")

#dispensary_address.head()
#Licensee,DBA,License_No,Street_Address,City,ZIP,Category,Month,Year,Certification

#dispensary_address_clean = dispensary_address[['ZIP'[0:5]]]
#dispensary_address_clean = dispensary_address[['Licensee', 'Street_Address', 'City', 'ZIP']]
#dispensary_address_clean['ZIP']= dispensary_address_clean['ZIP'].astype('int')
#dispensary_address_clean.head()
#dispensary_address_clean.value_counts()
#dispensary_address_clean.ZIP.unique()
#dispensary_address_clean.isnull().sum(axis=0) #//gives me the number of is null for zip

#dispensary_address_cleans

### find the zip codes and insert to complete data set


##//
#df_zip_proper = pandas.io.parsers.read_csv('zip/sample.csv', dtype={'zip': pandas.Categorical})
#df_zip_proper

###need to cut out the ".0" at the end of the ZIP
###need to use MapQuest api
###set to remove .0 -- figure out - //set something like .0 gets blanked
#dispensary_address_clean.dtypes

In [193]:

sales_rev = pd.read_csv("rawdata/James-Marijuana-Sales-Revenue-Colorado.csv")

#csv_path = Path('rawdata/James-Marijuana-Sales-Revenue-Colorado.csv')
#sales_rev = pd.read_csv(csv_path, index_col='Year')#, parse_dates=True, infer_datetime_format=True)
#sales_rev.head()

#sales_rev.count()
#sales_rev.isnull().mean() % 100

#sales_rev['Med_Sales'] = sales_rev['Med_Sales'].replace(np.nan,'unknown')
sales_rev['Med_Sales'] = sales_rev['Med_Sales'].fillna(0)
sales_rev['Rec_Sales'] = sales_rev['Rec_Sales'].fillna(0)

#replacing the nan turns the col into strings
#sales_rev['Rec_Sales'] = sales_rev['Rec_Sales'].fillna('unknown')
#sales_rev['Med_Sales'] = sales_rev['Med_Sales'].replace(0,"unknown")


#MarijuanaArrests.groupby(['Arrest Year', 'County'])
#df_tr = MarijuanaArrests.transpose()
#df_tr.head(10)


#sales_rev['Med_Sales'].fillna(0)
sales_rev_clean = sales_rev[['Year', 'County', 'Med_Sales', 'Rec_Sales']]
#sales_rev_clean.groupby(['Month', 'Year'])


#sales_rev_clean = sales_rev_clean.groupby("Month")["Year"]#.count()
#sales_rev_clean = sales_rev_clean.groupby("County").groups


#grouped = sales_rev_clean.groupby('Year')
#grouped['Med_Sales'].agg(np.mean)
#grouped['Med_Sales'].agg(np.sum)

#grouped = sales_rev_clean.groupby('Year','Med_Sales')
#grouped['Med_Sales'].agg(np.mean)
#grouped['Med_Sales'].agg(np.sum)

#sum_df = df.groupby(['year','month']).agg({'score': 'sum', 'num_attempts': 'sum'})

#sum_df = sales_rev_clean.groupby(['Year','Month'])#.agg({'score': 'sum', 'num_attempts': 'sum'})
#sum_df
#("{0:.2f}".format(a)) 

sales_rev_clean.dtypes

Year           int64
County        object
Med_Sales    float64
Rec_Sales    float64
dtype: object

In [202]:
#sales_rev_clean.groupby(['Year', 'Month', 'County']).sum()
ctx = decimal.Context(prec=2, rounding=decimal.ROUND_DOWN)
sales_rev_clean.groupby(['Year', 'County']).sum()

#normalize(ctx)




#sales_rev_clean.dtypes

                           Med_Sales     Rec_Sales
Year County
2014 Adams                 5781889.0  2.749908e+06
     Alamosa                     0.0  0.000000e+00
     Arapahoe             16861284.0  2.221928e+06
     Archuleta                   0.0  0.000000e+00
     Baca                        0.0  0.000000e+00
     Bent                        0.0  0.000000e+00
     Boulder              34337366.0  2.859816e+07
     Broomfield                  0.0  0.000000e+00
     Chaffee                438160.0  0.000000e+00
     Cheyenne                    0.0  0.000000e+00
     Clear Creek           1242045.0  4.853720e+06
     Conejos                     0.0  0.000000e+00
     Costilla                    0.0  0.000000e+00
     Crowley                     0.0  0.000000e+00
     Custer                      0.0  0.000000e+00
     Delta                       0.0  0.000000e+00
     Denver              174581324.0  1.513496e+08
     Dolores                     0.0  0.000000e+00
     Douglas                     0.0  0.000000e+00
     Eagle                 2259892.0  2.234618e+06
     El Paso              67026306.0  0.000000e+00
     Elbert                      0.0  0.000000e+00
     Fremont               2530928.0  0.000000e+00
     Garfield              4892957.0  3.851563e+06
     Gilpin                 371332.0  1.376578e+06
     Grand                       0.0  0.000000e+00
     Gunnison                36244.0  1.418437e+06
     Hinsdale                    0.0  0.000000e+00
     Huerfano                    0.0  0.000000e+00
     Jackson                     0.0  0.000000e+00
...                              ...           ...
2020 Larimer               6474163.0  7.103410e+07
     Las Animas             263546.0  4.619512e+07
     Lincoln                     0.0  0.000000e+00
     Logan                       0.0  0.000000e+00
     Mesa                        0.0  1.929342e+07
     Mineral                     0.0  0.000000e+00
     Moffat                      0.0  7.068563e+06
     Montezuma                   0.0  1.986398e+07
     Montrose                    0.0  0.000000e+00
     Morgan                      0.0  1.516220e+07
     Otero                       0.0  2.173614e+06
     Ouray                       0.0  6.617177e+06
     Park                        0.0  4.511739e+06
     Phillips                    0.0  0.000000e+00
     Pitkin                      0.0  9.740196e+06
     Prowers                     0.0  0.000000e+00
     Pueblo                8643753.0  7.133999e+07
     Rio Blanco                  0.0  0.000000e+00
     Rio Grande                  0.0  0.000000e+00
     Routt                  662154.0  8.851276e+06
     Saguache                    0.0  3.126444e+06
     San Juan                    0.0  2.142510e+05
     San Miguel                  0.0  3.748262e+06
     Sedgwick                    0.0  0.000000e+00
     Sum of NR Counties  294387679.0  1.130819e+09
     Summit                      0.0  1.818944e+07
     Teller                      0.0  0.000000e+00
     Washington                  0.0  0.000000e+00
     Weld                  2407512.0  2.184013e+07
     Yuma                        0.0  0.000000e+00

[450 rows x 2 columns]