In [38]:
import pandas as pd

In [198]:
# Colorado GDP (Detailed)

#df = pd.read_csv("rawdata/Olan-CO-counties-GDP-Details.csv", skiprows=4)
#df.to_csv("cleandata/COGDPbyCounties-detailed.csv", index=False)

#-------------------------------------------------------------------------------------------------------------------
# Start cleaning file
#DetailedCountiesGDP = pd.read_csv("cleandata/COGDPbyCounties-detailed.csv")

#DetailedCountiesGDP.drop(df.tail(10).index,inplace=True)

#DetailedCountiesGDP.drop(columns=['GeoFips'], inplace=True)
#DetailedCountiesGDP.to_csv("cleandata/COGDPbyCounties-detailed.csv", index=False)
#-------------------------------------------------------------------------------------------------------------------
#DetailedCountiesGDP.drop(columns=['LineCode'], inplace=True)

#DetailedCountiesGDP.to_csv("cleandata/COGDPbyCounties-detailed.csv", index=False)
#-------------------------------------------------------------------------------------------------------------------

#Drop null values
#cols = ["GeoName", "Description", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018"]

#DetailedCountiesGDP = DetailedCountiesGDP[cols].replace({"(D)":None})
#DetailedCountiesGDP = DetailedCountiesGDP[cols].replace({"(NA)":None})
#DetailedCountiesGDP = DetailedCountiesGDP.dropna()

#Change column types
#yearcols = ["2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018"]
#DetailedCountiesGDP[yearcols] = DetailedCountiesGDP[yearcols].astype('int')

#DetailedCountiesGDP.to_csv("cleandata/COGDPbyCounties-detailed.csv", index=False)
#-------------------------------------------------------------------------------------------------------------------

#Group data
#Transpose

In [223]:
#df = pd.read_csv("rawdata/Olan-CO-counties-GDP-Totals.csv", skiprows=4)
#df.to_csv("cleandata/COGDPbyCounties-Totals.csv", index=False)
#-------------------------------------------------------------------------------------------------------------------
#TotalCountiesGDP = pd.read_csv("cleandata/COGDPbyCounties-Totals.csv")
#TotalCountiesGDP.drop(df.tail(6).index,inplace=True)
#TotalCountiesGDP.drop(columns=['GeoFips'], inplace=True)
#TotalCountiesGDP.to_csv("cleandata/#COGDPbyCounties-Totals.csv", index=False)
#-------------------------------------------------------------------------------------------------------------------
#No null values, change columns type
#yearcols = ["2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018"]
#TotalCountiesGDP[yearcols] = TotalCountiesGDP[yearcols].astype('int')
#TotalCountiesGDP.to_csv("cleandata/COGDPbyCounties-Totals.csv", index=False)

In [255]:
#df = pd.read_csv("rawdata/Olan-DPS-Colorado-Marijuana-Arrests.csv")
#df.to_csv("cleandata/COMarijuanaArrestsbyCounties.csv", index=False)
#-------------------------------------------------------------------------------------------------------------------
#MarijuanaArrests = pd.read_csv("cleandata/COMarijuanaArrestsbyCounties.csv",skiprows=1,header=None)
#MarijuanaArrests.columns = ['Arrest Year', 'County', 'Agency', 'Age Group', 'Gender', 'Race Code', 'NCIC Code', 'Number of Arrests']
#MarijuanaArrests.drop(columns=['Agency'], inplace=True)
#MarijuanaArrests.to_csv("cleandata/COMarijuanaArrestsbyCounties.csv", index=False)
#-------------------------------------------------------------------------------------------------------------------
#MarijuanaArrests.groupby(['Arrest Year', 'County'])
#df_tr = MarijuanaArrests.transpose()
#df_tr.head(10)

MarijuanaArrests.head(20)

,Arrest Year,County,Age Group,Gender,Race Code,NCIC Code,Number of Arrests
0,2012,Adams,21 or older,Female,Hispianic,MJPossession,6
1,2012,Adams,21 or older,Male,African American,MJPossession,5
2,2012,Adams,21 or older,Male,Asian,MJPossession,1
3,2012,Adams,21 or older,Male,Unknown,MJPossession,1
4,2012,Adams,21 or older,Male,White,MJPossession,33
5,2012,Adams,Under 18,Male,African American,MJPossession,4
6,2012,Adams,Under 18,Male,Unknown,MJPossession,2
7,2012,Adams,21 or older,Male,Hispianic,MJSales,1
8,2012,Adams,18 to 20,Female,White,MJPossession,3
9,2012,Adams,21 or older,Male,Hispianic,MJPossession,17
10,2012,Adams,21 or older,Male,Unknown,MJPossession,2
11,2012,Adams,18 to 20,Male,African American,MJPossession,3
12,2012,Adams,18 to 20,Male,Hispianic,MJPossession,8
13,2012,Adams,18 to 20,Male,White,MJPossession,30
14,2012,Adams,Under 18,Female,Hispianic,MJPossession,7
15,2012,Adams,Under 18,Male,Asian,MJPossession,1
16,2012,Adams,21 or older,Male,White,MJProduction,2
17,2012,Adams,18 to 20,Female,Hispianic,MJPossession,5
18,2012,Adams,18 to 20,Male,African American,MJPossession,3
19,2012,Adams,18 to 20,Male,Hispianic,MJPossession,46