In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import csv

In [2]:
data_path = Path("../rawdata/Howard-monthly-sales-growth-of-rec-cannabis-US-2020-by-state.csv")
df=pd.read_csv(data_path, skiprows=25)
df =df.drop(columns=["Unnamed: 6"])

In [3]:
df = df.rename(columns={"Unnamed: 0" : "States"})

In [7]:
df

       States  January  February  March  April  May
0  California       80        84     78     42   39
1      Oregon       25        31     36     46   58
2      Nevada       16        25    -10    -25  -24
3  Washington       15        19     27     29   30
4    Colorado       13        18     12      4   -1

In [9]:
states_df = df.set_index("States")